
<div class="section_title">
  <h2>一覧から探す</h2>
</div>
<section id="top_plans" class="row">
  <div class="user_and_plans">
    <div class="plan col-sm-4 col-xs-6">

      <div class="plsn_box_outer">
      <% @events.each do |event| %>
      <%=link_to event_path(event) do %>
        <div class="plan_box clearfix">
          <div class="user_relative">
            <div class="icon"></div>
            <h4><%= event.name %></h4>
          </div>
          <div class="a_plan relative">
            
          </div>
        </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</section>


<p id="notice"><%= notice %></p>

<div><%= link_to 'New Event', new_event_path %></div>
