/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	margin: 0;
	padding:0;
}
<<<<<<< HEAD
.app_title{
	font-size: 27px;
	padding-top: 13px;
	padding-right: 20px;
}

/*index*/
.section{
	padding-top: 10px;
	padding-bottom: 100px;
}

.navbar-right{
	font-size: 14px;
	background-color: green;
	width: 100%;
}

.devise{
	margin-top:50px;
	box-sizing: border-box;
	position: absolute;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    padding: 0 50px 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.field{
	margin-bottom: 30px;
}
.form-group{
	margin-bottom: 70px;

}
.btn{
	display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    border-radius: 4px;
}