// Place all the styles related to the User_profs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all{
	margin: 0px;
	padding: 0px;
	
}



.main{
	width: 800px;
	background-color: white;
	margin: 0 auto;
}